@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
main {
  padding: 0;
}
// h1,h2{
//   font-family:"Shrikhand", cursive ;
//   font-weight: lighter;
//   min-width: 1.2rem;
// }