@import "./utils/_box-shadow.scss";
@import "./utils/_linear-gradient.scss";
@import "./utils/colors";
.explore {
  text-align: center;
  padding: 2rem;
  background-color:#fafafa;
  & h2 {
    margin-top: 20px;
  }
  & p {
    font-size: 1rem;
    font-weight: 300;
    margin:1.5rem 0;
  }
  & a {
    color:$background;
    font-weight: 400;
    font-size: 1.2rem;
    background-color:$background-primary;
    padding: 0.50rem 1rem;
    border: 0;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    @include basic-shadow;
    @include gradient;
  }
  & button:hover {
    transform: scale(1.05);
    opacity: 0.9;
  }
}
