@import "./utils/box-shadow.scss";
@import "./utils/linear-gradient.scss";
@import "./utils/colors";
@import "./components/baseBtn.scss";
@import "./utils/btnBefore.scss";
@import "./utils/btnHover.scss";
.explore {
  text-align: center;
  padding: 2rem;
  background-color:#fafafa;
  & h2 {
    margin-top: 20px;
  }
  & p {
    font-size: 1rem;
    font-weight: 300;
    margin:1.5rem 0;
  }
  & a {
  @include baseBtn;
  }
  
  & a::before {
    @include btnBefore;
  }
  
  & a:hover {
   @include btnHover;
  }
  
}
