@import "./utils/_box-shadow.scss";

.explore {
  text-align: center;
  padding: 2rem;
  background-color: #fafafa;
  & h2 {
    margin-top: 20px;
  }
  & p {
    font-size: 1rem;
    font-weight: 300;
    margin:1.5rem 0;
  }
  & a {
    color:#fff;
    font-weight: 400;
    font-size: 1.2rem;
    background-color: #686868;
    padding: 0.50rem 1rem;
    border: 0;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    background-image: linear-gradient(
      to top,
      #9356dc,
      #b35cdc,
      #cf64dc,
      #e86edb,
      #ff79da
    );
    @include basic-shadow;
  }
  & button:hover {
    transform: scale(1.05);
    opacity: 0.9;
  }
}
