@use "../utils/box-shadow.scss";

.explore {
  text-align: center;
  padding: 1.5rem 0;
  & h2 {
    margin-top: 20px;
  }
  & p {
    font-size: 1rem;
  } & button {
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    background-color: #686868;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    background-image: linear-gradient(
      to top,
      #9356dc,
      #b35cdc,
      #cf64dc,
      #e86edb,
      #ff79da
      );
      @include box-shadow.basic-shadow;
    }  
    & button:hover {
      transform: scale(1.05);
      opacity: 0.9;
    }
  }
    