.city {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem 1rem;
    gap: 1rem;
    background-color: #f3f3f3;
    text-align: center;
    .cityText  {
      font-weight: 700;
      font-size: 1.2rem;
   }
    & i {
      font-size: 1.2rem;
   
  }
}