@import "./sass/utils/colors.scss";

.footer {
    background-color: $background-tertiary;
}
.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
}
.footer__logo {
    color:$background;
    font-family: Shrikhand,"cursive";
    font-size: 1.2rem;
    margin: 0 0 1rem;
    @media (min-width:1024px){
        align-self: center;
    }
}
.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
    color:$background;
    @media (min-width:1024px) {
        display:flex;
        flex-direction: row;
        justify-content: center;;
        align-items: center;
        gap:15rem;
       }
   
}
.footer__list:first-child {
    margin-top: 0;
}

.footer__list {
    margin: 0.5rem 0;
}
.footer__link {
    color:$background;
    text-decoration: none;
}

