
.restaurants {
    background-color: #f6f6f6;
    padding: 2rem 1rem;
  
    .cards {
      @media (min-width: 64rem) {
        grid-template-columns: repeat(2, 1fr);
      }
      display: grid;
      column-gap: 2rem;
      row-gap: 2rem;
  
    }
  
    .card {
      background-color: #fff;
      border-radius: 1rem;
      position: relative;
      text-decoration: none;
      color: inherit;
      display: block;
  
      & img {
        height: 12rem;
        width: 100%;
        border: 0 solid transparent;
        border-radius: 1rem 1rem 0 0;
        box-shadow: none;
        object-fit: cover;
      }
  
      .card__badge {
        background-color: #99e2d0;
        color: #1b6150;
        padding: 0.5rem;
        border-radius: 0.125rem;
        position: absolute;
        top: 1rem;
        right: 0.75rem;
      }
  
      .card__subtitle {
        background-color: #fff;
        border-radius: 1rem;
        position: relative;
        text-decoration: none;
      }
  
      .card__content {
        flex: 1;
      }
  
      .card__footer {
        padding: 1rem;
        position: relative;
        display: flex;
        align-items: center;
      }
  
      .menu__like {
        transition-duration: .25s;
        display: flex;
        align-items: center;
        justify-content: center;
        mix-blend-mode: lighten;
      }
    }
  }