
.restaurants {
  background-color: $background-secondary;
  padding: 2rem 1rem;

  .cards {
    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
  }

  .cardAnchor, .card {
    background-color: $background;
    border-radius: 1rem;
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;

    & img {
      height: 12rem;
      width: 100%;
      border: 0 solid transparent;
      border-radius: 1rem 1rem 0 0;
      box-shadow: none;
      object-fit: cover;
    }

    .card__badge {
      background-color: $tertiary;
      color: #1b6150;
      padding: 0.5rem;
      border-radius: 0.125rem;
      position: absolute;
      top: 1rem;
      right: 0.75rem;
    }
    .cardTitle{
      text-decoration: none;
      color: #000;
    }
    .card__subtitle {
      background-color: $background;
      border-radius: 1rem;
      position: relative;
      text-decoration: none;
    }

    .card__content {
      flex: 1;
    }

    .card__footer {
      padding: 1rem;
      position: relative;
      display: flex;
      align-items: center;
    }
  }
  .menu__btn {
    height: 2rem;
    width: 2rem;
    border: 0 solid transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-color: #000;
  }

  & i {
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fas {
    transition: all 200ms ease-in-out;
    color: transparent;

    &:hover {
      background: linear-gradient(90deg, rgba(147, 86, 220,1) 0%,rgba (255,121,218,1) 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .far {
    background: $background-secondary;
    opacity: 1;
  }
}
