@import "../utils/_mixins.scss";

.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.tutorial {
  padding: 1rem 0.5rem;

  & ol {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: steps;
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      gap: 2rem;
    }

    & li {
      margin-top: 0;
      @media (min-width: 768px) {
        margin-left: 0.75rem;
        width: 30%;
      }

      @media (min-width: 1024px) {
        flex: 1;
        margin: 0 0 0 1rem;
      }

      padding: 1.5rem;
      border-radius: 1.25rem;
      position: relative;
      margin: 1.5rem 0;
      background-color: $background-secondary;
      display: flex;
      flex-direction: row;
      @include basic-shadow;
      & > i {
        margin: 0 1rem;
        color: #7c7c7c;
        font-size: 1rem;
      }
      &:hover {
        background-color: $hoverbg;
        transition: 0.7s;
        cursor: pointer;
      }
      &:hover::before li{
        background-color: $primary;
      }

      &:hover i {
        color: $primary;
      }
      &::before {
        counter-increment: steps 1;
        content: counter(steps) "";
        background: $primary;
        color: $background;
        display: grid;
        place-items: center;
        width: 1.5 * $tuto-height;
        height: 1.5 * $tuto-height;
        position: absolute;
        border-radius: 100px;
        left: -0.75 * $tuto-height;
      }
    }
  }
}
