.footer {
  background-color: #353535; }

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem; }

.footer__logo {
  color: #fff;
  font-family: Shrikhand,"cursive";
  font-size: 1.2rem;
  margin: 0 0 1rem; }

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #fff; }

.footer__list:first-child {
  margin-top: 0; }

.footer__list {
  margin: 0.5rem 0; }

.footer__link {
  color: #fff;
  text-decoration: none; }

.headerLogo {
  font-family: Shrikhand,"cursive";
  margin: 0;
  text-align: center;
  box-shadow: 0.2rem 0.2rem 5px #64616168;
  position: relative;
  z-index: 1000; }

.header__logo1 {
  padding: 1.5rem;
  max-width: 60%; }

.header__arrow {
  font-size: 1.5rem; }

.restaurantContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0.2rem 0.2rem 5px #64616168;
  z-index: 1000; }

.header__logoDiv {
  display: flex;
  justify-content: center;
  align-items: center; }

.header__logo {
  font-family: Shrikhand,"cursive";
  text-align: center;
  max-width: 60%;
  padding: 1rem; }

.restaurant1__img {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover; }

.fa-arrow-left:before {
  content: "\f060"; }

.menu__container {
  max-width: 1280px;
  margin: auto;
  position: relative; }

.menu__header {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.menu__container {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative; }

.menu__title {
  font-family: Shrikhand, "cursive";
  font-weight: bolder;
  font-size: 170%; }

.menu__btn {
  height: 2rem;
  width: 2rem;
  border: 0 solid transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: #000; }

.subMenus {
  display: grid; }

.subMenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem; }

.subMenu__title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: 400; }

.subMenu__title:after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0; }

.menuItem__wait-0,
.menuItem__wait-1,
.menuItem__wait-2,
.menuItem__wait-3,
.menuItem__wait-4,
.menuItem__wait-5,
.menuItem__wait-6,
.menuItem__wait-7,
.menuItem__wait-8 {
  background-color: #fff;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  padding: 5px;
  overflow: hidden;
  box-shadow: 0.25rem 0.25rem 1rem rgba(106, 105, 105, 0.1);
  cursor: pointer;
  animation: itemAppear .6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(1);
  max-width: 100%; }

.menuItem__wait-0 {
  animation-delay: 0s; }

.menuItem__wait-1 {
  animation-delay: 0.1s; }

.menuItem__wait-2 {
  animation-delay: .2s; }

.menuItem__wait-3 {
  animation-delay: .3s; }

.menuItem__wait-4 {
  animation-delay: .4s; }

.menuItem__wait-5 {
  animation-delay: .5s; }

.menuItem__wait-6 {
  animation-delay: .6s; }

.menuItem__wait-7 {
  animation-delay: .7s; }

.menuItem__wait-8 {
  animation-delay: .8s; }

.menuItem__header {
  flex: 1; }

.menuItem__header,
.menuItem__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.menuItem__price {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem; }

.menuItem__confirm {
  background-color: #99E2D0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s; }

.menuItem:hover .menuItem__confirm {
  margin-right: -1rem; }

.menuItem:hover .menuItem__wrapIcon {
  transform: rotate(0); }

.menuItem__title {
  margin: 0; }

.wrapBtn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0; }

.commandBtn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  transition-duration: 0.25s;
  box-shadow: 0.2rem 0.2rem 5px #64616168;
  cursor: pointer; }
