@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
* {
  box-sizing: border-box; }

::before,
::after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Roboto", sans-serif; }

main {
  padding: 0; }

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem 1rem;
  gap: 1rem;
  background-color: #f3f3f3;
  text-align: center; }
  .city .cityText {
    font-weight: 700;
    font-size: 1.2rem; }
  .city i {
    font-size: 1.2rem; }

.explore {
  text-align: center;
  padding: 2rem;
  background-color: #fafafa; }
  .explore h2 {
    margin-top: 20px; }
  .explore p {
    font-size: 1rem;
    font-weight: 300;
    margin: 1.5rem 0; }
  .explore a {
    color: #fff;
    font-weight: 400;
    font-size: 1.2rem;
    background-color: #686868;
    padding: 0.50rem 1rem;
    border: 0;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0.2rem 0.2rem 5px #64616168;
    background-image: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da); }
  .explore button:hover {
    transform: scale(1.05);
    opacity: 0.9; }

.container {
  max-width: 1280px;
  margin: auto;
  position: relative; }

.tutorial {
  padding: 1rem 0.5rem; }
  .tutorial ol {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: steps; }
    @media (min-width: 768px) {
      .tutorial ol {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        gap: 2rem; } }
    .tutorial ol li {
      margin-top: 0;
      padding: 1rem;
      border-radius: 1.25rem;
      position: relative;
      margin: 1.5rem 0;
      background-color: #f6f6f6;
      display: flex;
      flex-direction: row;
      box-shadow: 0.2rem 0.2rem 5px #64616168; }
      @media (min-width: 768px) {
        .tutorial ol li {
          margin-left: 0.75rem;
          width: 30%; } }
      @media (min-width: 1024px) {
        .tutorial ol li {
          flex: 1;
          margin: 0 0 0 1rem; } }
      .tutorial ol li > i {
        margin: 0 1rem;
        color: #7c7c7c;
        font-size: 1rem; }
      .tutorial ol li.fas:hover {
        background-color: #e0c0e1;
        cursor: pointer; }
      .tutorial ol li::before {
        counter-increment: steps 1;
        content: counter(steps) "";
        background: #9356DC;
        color: #fff;
        display: grid;
        place-items: center;
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        border-radius: 100px;
        left: -0.75rem; }

.restaurants {
  background-color: #f6f6f6;
  padding: 2rem 1rem; }
  .restaurants .cards {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem; }
    @media (min-width: 64rem) {
      .restaurants .cards {
        grid-template-columns: repeat(2, 1fr); } }
  .restaurants .card {
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    text-decoration: none; }
    .restaurants .card img {
      height: 12rem;
      width: 100%;
      border: 0 solid transparent;
      border-radius: 1rem 1rem 0 0;
      box-shadow: none;
      object-fit: cover; }
    .restaurants .card .card__badge {
      background-color: #99E2D0;
      color: #1b6150;
      padding: 0.5rem;
      border-radius: 0.125rem;
      position: absolute;
      top: 1rem;
      right: 0.75rem; }
    .restaurants .card .card__subtitle {
      background-color: #fff;
      border-radius: 1rem;
      position: relative;
      text-decoration: none; }
    .restaurants .card .card__content {
      flex: 1; }
    .restaurants .card .card__footer {
      padding: 1rem;
      position: relative;
      display: flex;
      align-items: center; }
  .restaurants .menu__btn {
    height: 2rem;
    width: 2rem;
    border: 0 solid transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
  .restaurants i {
    font-size: 2rem;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%); }
  .restaurants .fas {
    height: 2rem;
    width: 2rem;
    transition-duration: 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    mix-blend-mode: lighten;
    color: transparent;
    background-image: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 200ms ease-in-out; }
  .restaurants .far {
    transition-duration: .25s;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: lighten; }
  .restaurants .menu__btn:before, .restaurants .menu__like {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

.footer {
  background-color: #353535; }

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem; }

.footer__logo {
  color: #fff;
  font-family: Shrikhand,"cursive";
  font-size: 1.2rem;
  margin: 0 0 1rem; }

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #fff; }

.footer__list:first-child {
  margin-top: 0; }

.footer__list {
  margin: 0.5rem 0; }

.footer__link {
  color: #fff;
  text-decoration: none; }

.footer {
  background-color: #353535; }

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem; }

.footer__logo {
  color: #fff;
  font-family: Shrikhand,"cursive";
  font-size: 1.2rem;
  margin: 0 0 1rem; }

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #fff; }

.footer__list:first-child {
  margin-top: 0; }

.footer__list {
  margin: 0.5rem 0; }

.footer__link {
  color: #fff;
  text-decoration: none; }

.headerLogo {
  font-family: Shrikhand,"cursive";
  margin: 0;
  text-align: center;
  box-shadow: 0.2rem 0.2rem 5px #64616168;
  position: relative;
  z-index: 1000; }

.header__logo1 {
  padding: 1.5rem;
  max-width: 60%; }

.header__arrow {
  font-size: 1.5rem; }

.restaurantContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0.2rem 0.2rem 5px #64616168;
  z-index: 1000; }

.header__logoDiv {
  display: flex;
  justify-content: center;
  align-items: center; }

.header__logo {
  font-family: Shrikhand,"cursive";
  text-align: center;
  max-width: 60%;
  padding: 1rem; }

.restaurant1__img {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover; }

.fa-arrow-left:before {
  content: "\f060"; }

.menu__container {
  max-width: 1280px;
  margin: auto;
  position: relative; }

.menu__header {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.menu__container {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative; }

.menu__title {
  font-family: Shrikhand, "cursive";
  font-weight: bolder;
  font-size: 170%; }

.menu__btn {
  height: 2rem;
  width: 2rem;
  border: 0 solid transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: #000; }

.subMenus {
  display: grid; }

.subMenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem; }

.subMenu__title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: 400; }

.subMenu__title:after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0; }

.menuItem__wait-0,
.menuItem__wait-1,
.menuItem__wait-2,
.menuItem__wait-3,
.menuItem__wait-4,
.menuItem__wait-5,
.menuItem__wait-6,
.menuItem__wait-7,
.menuItem__wait-8 {
  background-color: #fff;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  padding: 5px;
  overflow: hidden;
  box-shadow: 0.25rem 0.25rem 1rem rgba(106, 105, 105, 0.1);
  cursor: pointer;
  animation: itemAppear .6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(1);
  max-width: 100%; }

.menuItem__wait-0 {
  animation-delay: 0s; }

.menuItem__wait-1 {
  animation-delay: 0.1s; }

.menuItem__wait-2 {
  animation-delay: .2s; }

.menuItem__wait-3 {
  animation-delay: .3s; }

.menuItem__wait-4 {
  animation-delay: .4s; }

.menuItem__wait-5 {
  animation-delay: .5s; }

.menuItem__wait-6 {
  animation-delay: .6s; }

.menuItem__wait-7 {
  animation-delay: .7s; }

.menuItem__wait-8 {
  animation-delay: .8s; }

.menuItem__header {
  flex: 1; }

.menuItem__header,
.menuItem__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.menuItem__price {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem; }

.menuItem__confirm {
  background-color: #99E2D0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s; }

.menuItem:hover .menuItem__confirm {
  margin-right: -1rem; }

.menuItem:hover .menuItem__wrapIcon {
  transform: rotate(0); }

.menuItem__title {
  margin: 0; }

.wrapBtn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0; }

.commandBtn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  transition-duration: 0.25s;
  box-shadow: 0.2rem 0.2rem 5px #64616168;
  cursor: pointer; }

.commandBtn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  transition-duration: 0.25s;
  box-shadow: 0.2rem 0.2rem 5px #64616168;
  cursor: pointer; }
