.commandBtn {
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: $background;
    background-color:$background-primary;
    @include gradient;
    transition-duration: 0.25s;
    @include basic-shadow;
    cursor: pointer;
  }
  